body{
	background-color: #111111;
	margin: 0;
	font-size: 20px;
	line-height: 30px;
}

header{
	max-width: 400px;
	margin: 20px 0 10px 0;
	padding: 0 20px;
}

h1, h2{
	font-family: 'Sarabun', sans-serif;
	color: whitesmoke;
}

.header{
	color: #dfdfdf;
	font-family: 'Helvetica', 'Arial', sans-serif;
	text-transform: uppercase;
	font-size: 50px;
}

.topnav{
	overflow: hidden;
	margin: 20px 20px;
	
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #a4a4a4;
  color: white;
}

header img{
	border-radius: 170px;
	width: 200px;
	border: 6px solid floralwhite;
}

main{
	color: #a4a4a4;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
}

main img{
	max-width: 100%;
}

h2{
	font-size: 30px;
	color: #dfdfdf;
	margin: 40px 0 0px;
}

a{
	color: #917d7d;
}

.unorganizedList a:hover{
	color: indianred;
}

footer{
	color: #dfdfdf;
	text-align: center;
	padding: 20px;
}

footer p{
	margin: 0;
}

.BildDesc p{

}

.Rimondis {
	color: pink;
}